<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="__ADMIN__/css/layui.css" media="all">
    <script type="text/javascript" src="__ADMIN__/jquery/jquery-3.4.1.min.js"></script>
    <script src="__ADMIN__/layui.js" charset="utf-8"></script>
    <!-- 注意加载js的顺序 -->
    <script src="__ADMIN__/echarts.js"></script>
    <script src="__ADMIN__/macarons.js"></script>
    <script src="__ADMIN__/roma.js"></script>
    <script src="__ADMIN__/shine.js"></script>
    <script src="__ADMIN__/infographic.js"></script>
    <style>
        .layui-elem-quote {
            margin: 0px;
            background-color: white;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            font-weight: bold;
        }

        .my_input {
            background-color: white;
            display: block;
        }
        .layui-card{
            padding: 2rem;
        }
    </style>
</head>

<body class="layui-fluid" style="padding: 15px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <blockquote class="layui-elem-quote">
                <input class="my_input" type="text" id="adminname" style="border:none;" value="欢迎您 {$name} 管理员"
                    disabled="true">
                <input class="my_input" type="text" id="nowtime" style="border:none; width: 300px;  "
                    disabled="true"></input>
            </blockquote>
        </div>
    </div>

    <div class="layui-row layui-col-space15">

        <div class="layui-col-md6">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header" style="font-size: 20px; padding-left: 20px">今日出行量</div>
                        <div class="layui-card-body">
                            <div style="font-size: 30px; padding: 10px; color: #666666">
                                <volist name="num" id="n">{$n.nu}</volist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header" style="font-size: 20px; padding-left: 20px">今日收入/元</div>
                        <div class="layui-card-body">
                            <div style="font-size: 30px; padding: 10px;  color: #666666">
                                <volist name="amount" id="a">{$a.am}</volist>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-row layui-col-space15">

                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header" style="font-size: 20px; padding-left: 20px">用户</div>
                        <div class="layui-card-body">
                            <div style="font-size: 30px; padding: 10px; color: #666666">
                                <volist name="user" id="u">{$u.nu}</volist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header" style="font-size: 20px; padding-left: 20px">入驻公司</div>
                        <div class="layui-card-body">
                            <div style="font-size: 30px; padding: 10px;  color: #666666">
                                <volist name="com" id="c">{$c.nu}</volist>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="layui-col-md6">
            <div id="main"
                style="width: 100%;height:357px; background-color: white; border-radius: 5px; box-shadow: 3px 3px 5px #F0F0F0">
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div id="endcity"
                style="width: 100%;height:400px; background-color: white; border-radius: 5px; box-shadow: 3px 3px 5px #F0F0F0">
            </div>
        </div>
        <div class="layui-col-md6">
            <div id="startcity"
                style="width: 100%;height:400px ;background-color: white; border-radius: 5px; box-shadow: 3px 3px 5px #F0F0F0">
            </div>
        </div>
    </div>

    <!-- <div class="layui-row layui-col-space20">
        <div class="layui-col-md7">
            <div id="main"
                style="width: 100%;height:300px; background-color: white; border-radius: 5px; box-shadow: 3px 3px 5px #F0F0F0">
            </div>
        </div>
    </div> -->
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'), 'macarons');
        var option = {
            title: {
                text: '未来7天机票销售量',
                textStyle: {
                    fontFamily: 'Microsoft YaHei',
                    fontWeight: 'normal',
                    color:'#009688'
                },
                x: 'center',
                top: 10
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#009688'
                    }
                }
            },
            legend: {},
            dataset: {
                source: []
            },
            markLine:{},
            animation:{},
            markArea:{},
            xAxis: {
                lineStyle:{color:'#009688'},
                data: [],
                boundaryGap: false,
            },
            yAxis: {},
            series: [{
                areaStyle: {
                    color:'#009688'
                },
                type: 'line',
                smooth: true,
                data: []

            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.showLoading();
        myChart.setOption(option);
        var date = []; //日期数组（实际用来盛放X轴坐标值）
        var count = []; //统计数量数组（实际用来盛放Y坐标值）

        $.ajax({
            url: "{:U('Index/getDayticket')}",
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data) {
                    for (var i = 0; i < data.length; i++) {
                        date.push(data[i].date + "号"); //挨个取出日期并填入日期数组
                    }
                    for (var i = 0; i < data.length; i++) {
                        count.push(data[i].count); //挨个取出数量并填入数量数组
                    }
                }
                myChart.hideLoading();
                myChart.setOption({
                    xAxis: {
                        data: date,
                    },
                    series: [{
                        data: count,

                    }]
                });
            },
            error: function () { }
        });

        var endCityChat = echarts.init(document.getElementById('endcity'), 'infographic');
        var endCityChatOption = {
            title: {
                text: '目的地占比',
                textStyle: {
                    fontFamily: 'Microsoft YaHei',
                    fontWeight: 'normal',
                    color: '#009688'
                },
                x: 'center',
                top: 10
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 20,
                top: 20,
                bottom: 20,
            },
            itemStyle: {
                // 阴影的大小
                shadowBlur: 100,
                // 阴影水平方向上的偏移
                shadowOffsetX: 0,
                // 阴影垂直方向上的偏移
                shadowOffsetY: 0,
                // 阴影颜色
                shadowColor: 'rgba(0, 0, 0, 0.3)'
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {
                        show: true
                    },
                    dataView: {
                        show: true,
                        readOnly: false
                    },
                    magicType: {
                        show: true,
                        type: ['pie', 'funnel']
                    },
                    restore: {
                        show: true
                    },
                    saveAsImage: {
                        show: true
                    }
                }
            },
            calculable: true,
            dataset: {
                source: []
            },
            series: [{
                name: '出发地',
                type: 'pie',
                radius: [30, 150],
                center: ['50%', '50%'],
                roseType: 'area',
                data: []
            }]
        };
        endCityChat.showLoading();
        endCityChat.setOption(endCityChatOption);
        $.ajax({
            url: "{:U('Index/getEndCity')}",
            type: 'post',
            dataType: 'json',
            success: function (data) {
                // console.log("返回的"+data);
                // var res = JSON.parse(data);
                // console.log(typeof(data));
                var nums = [];

                $.each(data, function (key, values) { //此处我返回的是list<String,map<String,String>>循环map
                    var obj = new Object();
                    obj.name = values.arrive;
                    obj.value = values.count;
                    nums.push(obj);
                });
                // console.log("返回的json"+nums);
                endCityChat.hideLoading();
                endCityChat.setOption({
                    series: [{
                        data: nums
                    }]
                });
            },
            error: function () { }
        });

        var startCityChat = echarts.init(document.getElementById('startcity'), 'macarons');
        var startCityChatOption = {
            title: {
                text: '出发地占比',
                textStyle: {
                    fontFamily: 'Microsoft YaHei',
                    fontWeight: 'normal',
                    color: '#009688'
                },
                x: 'center',
                top: 10

            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 20,
                top: 20,
                bottom: 20,
            },
            itemStyle: {
                // 阴影的大小
                shadowBlur: 100,
                // 阴影水平方向上的偏移
                shadowOffsetX: 0,
                // 阴影垂直方向上的偏移
                shadowOffsetY: 0,
                // 阴影颜色
                shadowColor: 'rgba(0, 0, 0, 0.3)'
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {
                        show: true
                    },
                    dataView: {
                        show: true,
                        readOnly: false
                    },
                    magicType: {
                        show: true,
                        type: ['pie', 'funnel']
                    },
                    restore: {
                        show: true
                    },
                    saveAsImage: {
                        show: true
                    }
                }
            },
            calculable: true,
            dataset: {
                source: []
            },
            series: [{
                name: '目的地',
                type: 'pie',
                radius: [30, 150],
                center: ['50%', '50%'],
                roseType: 'area',
                data: []
            }]
        };
        startCityChat.showLoading();
        startCityChat.setOption(startCityChatOption);
        $.ajax({
            url: "{:U('Index/getStartCity')}",
            type: 'post',
            dataType: 'text',
            success: function (data) {
                // console.log("返回的"+data);
                var res = JSON.parse(data);
                // console.log(typeof(data));
                var nums = [];

                $.each(res, function (key, values) { //此处我返回的是list<String,map<String,String>>循环map
                    var obj = new Object();
                    obj.name = values.go;
                    obj.value = values.count;
                    nums.push(obj);
                });
                // console.log("返回的json"+nums);
                startCityChat.hideLoading();
                startCityChat.setOption({
                    series: [{
                        data: nums
                    }]
                });
            },
            error: function () { }
        });


        

        function showTime() {
            var t = new Date()
            var year = t.getFullYear();
            var month = t.getMonth();
            var day = t.getDate();
            var week = t.getDay();
            var arr = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
            var hour = t.getHours();
            var minturs = t.getMinutes();
            var second = t.getSeconds();
            var showtime = year + "/" + month + "/" + day + " " + arr[week] + " " + hour + ((minturs < 10) ? ":0" :
                ":") + minturs + ((second < 10) ? ":0" : ":") + second + ((hour > 12) ? ".pm" : ".am");
            // console.log(showtime);
            document.getElementById("nowtime").value = "现在时间：" + showtime;
        }
        setInterval("showTime()", 1000);
    </script>
</body>

</html>