<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="__ADMIN__/css/layui.css">
    <meta name="renderer" content="webkit">
    
</head>

<body class="layui-layout-body">
    <div style="background-color: white; padding: 10px">
    <div class="demoTable">
      <div class="layui-inline">
        <input class="layui-input" name="id" id="searchID" autocomplete="off" placeholder="ID">
      </div>
      <div class="layui-inline">
        <input class="layui-input" name="flight_number" id="searchFlight" autocomplete="off" placeholder="航班号">
      </div>
      <button class="layui-btn" data-type="reload">搜索</button>
    </div>

    <table class="layui-hide" id="ticket_table" lay-filter="ticket"></table>
    </div>
    <!-- 头部工具栏 -->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-inline" title="添加" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></div>
        <div class="layui-inline" title="批量删除" lay-event="multidelete"><i class="layui-icon layui-icon-delete"></i></div>
    </script>
    <!-- 右侧工具栏 -->
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
      <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="__ADMIN__/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#ticket_table'
                ,id: 'ticket'
                ,height: 'full-100'
                ,url:'{:U("Tickets/getTickets")}'//数据接口
                ,title: '订单表'
                ,page: true //开启分页
                ,toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                ,totalRow: true //开启合计行
                ,cols: [[ //表头
                  {type: 'checkbox', fixed: 'left'}
                  ,{field: 'tid', title: 'ID',width:'5%',sort: true, fixed: 'left', totalRowText: '合计：'}
                  ,{field: 'flight_number', title: '航班号',width:'8%'}
                  ,{field: 'go', title: '出发地', sort: true, totalRow: true,width:'8%'}
                  ,{field: 'arrive', title: '目的地', sort: true,width:'8%'}
                  ,{field: 'date', title: '日期', sort: true, totalRow: true,width:'8%'}
                  ,{field: 'cheap_price', title: '经济座单价',width:'8%'} 
                  ,{field: 'expensive_price', title: '商务座单价',width:'8%'}
                  ,{field: 'sprplus', title: '余票', width: 90,width:'5%'}
                  ,{field: 'go_time', title: '出发时间', sort: true, totalRow: true,width:'10%'}
                  ,{field: 'arrive_time', title: '到达时间', sort: true, totalRow: true,width:'10%'}
                  ,{field: 'company', title: '航空公司', sort: true, totalRow: true,width:'8%'}
                  ,{fixed: 'right', align:'center', toolbar: '#barDemo'}
                ]]
            });   
            //监听头工具栏事件
              table.on('toolbar(ticket)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                  case 'add':
                    // var data = checkStatus.data;
                    // layer.alert(JSON.stringify(data));
                    layer.open({
                        type: 2 //此处以iframe举例
                        ,title: '添加机票'
                        ,area: ['700px', '480px']
                        ,shade: 0
                        ,maxmin: true
                        ,content: "{:U('Tickets/addTickets')}"
                        ,zIndex: layer.zIndex //重点1
                        ,success: function(layero){
                        layer.setTop(layero); //重点2
                        }
                    });
                  break;
                  case 'multidelete':
                    var data = checkStatus.data;
                    //layer.msg('选中了：'+ data.length + ' 个');
                    //layer.alert(JSON.stringify(data));
                    var list = [];
                    //alert(data[0].tid);
                    for (var i = 0; i < checkStatus.data.length; i++) {
                      list[i] = data[i].tid;
                    }
                    console.log(JSON.stringify(list));
                    $.ajax({
                      url: "{:U('Tickets/multiDelete')}",
                      type: 'post',
                      traditional: true,
                      data: {array:JSON.stringify(list)},
                      dataType: 'json',
                      success: function (json) {
                        layer.msg(json.msg,{time:500},function(){
                          table.reload('ticket', {
                              method: 'get',
                              page: {
                                  curr: 1 //重新从第 1 页开始
                              },
                              where: {}
                          });
                        });
                      }
                      });
                  break;
                };
              });
            
            //监听行工具事件
            table.on('tool(ticket)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
              var data = obj.data //获得当前行数据
              ,layEvent = obj.event; //获得 lay-event 对应的值
              if(layEvent === 'detail'){
                layer.msg('查看操作');
              } else if(layEvent === 'del'){
                layer.confirm('真的删除行么', function(index){
                  //向服务端发送删除指令
                  $.ajax({
                      url: "{:U('Tickets/deleteTickets')}",
                      type: 'post',
                      data: {
                          'tid': data.tid,
                      },
                      dataType: 'json',
                      success: function (json) {
                        layer.msg(json.msg,{time:500},function(){
                          obj.del(); //删除对应行（tr）的DOM结构
                          layer.close(index);
                        });
                      }
                  });
                });
              } else if(layEvent === 'edit'){
                layer.open({
                        type: 2 //此处以iframe举例
                        ,title: '修改机票信息'
                        ,area: ['700px', '480px']
                        ,shade: 0
                        ,maxmin: true
                        ,content: "{:U('Tickets/editTickets')}?tid="+data.tid
                        ,zIndex: layer.zIndex //重点1
                        ,success: function(layero){
                        layer.setTop(layero); //重点2
                        }
                    });
              }
            });
  
            var $ = layui.$, active = {
              reload: function(){
                var searchID = $('#searchID');
                var searchFlight = $('#searchFlight');
                // var arr = {};
                // arr.tid =  searchID.val();
                // arr.flight_number = searchFlight.val();
                // console.log(arr);
                //执行重载
                table.reload('ticket', {
                  method: 'post',
                  page: {
                    curr: 1 //重新从第 1 页开始
                  }
                  ,where: {
                   arr: {
                      "t.tid": searchID.val(),
                      "t.flight_number":searchFlight.val()
                    }
                  // arr:arr
                  }
                });
              }
            };

            
            
            $('.demoTable .layui-btn').on('click', function(){
              var type = $(this).data('type');
              active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>

</html>