<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="__HOME__/css/tyle.css" />
		<link rel="stylesheet" href="__HOME__/css/index.css" />
		<link rel="stylesheet" href="__HOME__/css/body.css" />
		<link rel="stylesheet" href="__HOME__/css/layui.css" media="all">
		<title></title>
	</head>
	<body>
		<div class=" layui-fluid" style="background: #f5f5f5 url(__HOME__/img/index-bg.jpg) center bottom no-repeat;;">
			<div class="layui-row  rt" style="background-color: #FFFfff;">
				<div class="layui-col-lg3  bt">
					<a href="{:U('Index/index')}">
					<div class="bottom-section">
						<img src="__HOME__/kq-logo.svg">
						<img src="__HOME__/skyteam.svg" style="margin-left: 8px;margin-top: px;">
					</div>
					</a>
				</div>
				<div class="layui-col-lg4  layui-col-lg-offset5  bt ">
					<div class="layui-row title-rw">
						<div class="layui-col-lg3 title-lg"><a href="">首页</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">关于我们</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">客户支持</a></div>
						<div class="layui-col-lg3 title-lg">
							<if condition="(!isset($_SESSION['user']) || $_SESSION['user']=='')">
								<a href="{:U('User/login')}">登录</a>/				
								<a href="{:U('User/register')}">注册</a>
							<else/>
								<!-- {:session('user.username')} -->
								<a href="{:U('User/logOut')}">退出</a>
							</if>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-carousel" id="lb1">
				<div carousel-item>
					<div><img src="__HOME__/img/W020190610345538678722.jpg" alt=""></div>
					<div><img src="__HOME__/img/W020190701369418247847.jpg" alt=""></div>
					<div><img src="__HOME__/img/W020190702051818802648.jpg" alt=""></div>
					<div><img src="__HOME__/img/W020190709312299211780.jpg" alt=""></div>
					<div><img src="__HOME__/img/W020190709489373897349%20(1).jpg" alt=""></div>
				</div>
			</div>
		
			<div class="layui-tab">
				<ul class="layui-tab-title">
					<li class="layui-this">预定行程</li>
					<li>订单管理</li>
					<li>航空公司查询</li>
				</ul>	
				<div class="layui-tab-content">	
					<div class="layui-tab-item layui-show tab-b1">
						<form action="{:U('search')}" method="get" ">
						<div class="go-city">
							<div class="gc-left">出发城市:</div>
							<input type="text" name="go" placeholder="(拼音/汉字)" id="place" />
						</div>
						<div class="shift"></div>
						<div class="end-city">
							<div class="end-left">到达城市:</div>
							<input type="text" name="arrive" placeholder="(拼音/汉字)" id="destination" />
						</div>
						<div id="in_city" style="display: none"></div>
						<div class="d-radio">
							<a><i class="d-icon on  d1"></i><span class="s1">单程</span></a>
							<a><i class="d-icon d2"></i><span class="s2">往返</span></a>
						</div>
						<button class="d-btn">搜索航班</button>
						<div class="nt">
							<div class="go-time">
								<div class="time-left">出发时间:</div>
								<input type="datetime" name="date" placeholder="2019/7/12" id="test1" />
							</div>
							<div class="end-time">
								<div class="time-left">返程时间:</div>
								<input type="datetime" name="back_date" placeholder="2019/7/13" id="test2" />
							</div>
							<div style="position: relative;display: inline-block;">
								<div class="d-selet" style="width:238px;cursor:pointer">
									<input class="pl" name="people" value="1成人0儿童" style="cursor:pointer;" onfocus="this.blur()" /><i class="d-icon"></i>
								</div>
								<ul class="selet">
									<li>成人（≥12岁）<button type="button" style="margin-left: 40px;" class="bt1"><span>-</span></button><input type="text" value="1"
										 class="st" /> <button type="button" class="bt2"><span>+</span></button></li>
									<li>儿童（2-11岁）<button type="button" style="margin-left:37px;" class="bt3"><span>-</span></button><input type="text" value="0"
										 class="st1" /> <button type="button" class="bt4"><span>+</span></button></li>
								</ul>
							</div>
						</div>
						</form>
					</div>
					<div class="layui-tab-item tab-b2">
						<form action="{:U('User/postLogin')}"  method="POST">
						<div class="indent-title">
							<div class="it1 active"><i class="layui-icon layui-icon-diamond"></i>
								<strong>会员</strong>
							</div>
						</div>
						<div class="indent-body">
							<div class="indent-vip active">
								<if condition="$Think.session.uid egt 1">
								<div class="indent-selet" >
									<div class="selet-type">登录方式:</div>
									<input class="selet-body" value="用户名" readonly="true" type="text" /><i class="d-icon"></i>
									<ul>
										<li>用户名</li>
										<li>手机号</li>
									</ul>
								</div>
								<div class="indent-name">
									<div class="selet-name">用户名:</div>
									<input value="" name="username" type="text" />
								</div>
								<div class="indent-pwd">
									<div class="selet-pwd">密码:</div>
									<input value="" name="password" type="password" />
								</div>
								<button class="d-btn1">登录</button>
							<else />
								<div style="font-size: 16px;margin: 0 auto;width: 250px	" >您已注册，<a>点击此处</a>查看您在订单</div>
							</if>
							</div>
						</div>
					 	</form>
					</div>
					<!-- </form> -->
				</div>
			</div>
		
			<div class="layui-row" style="">
				<div class="layui-col-lg-offset2  layui-col-lg8  layui-col-lg-offset2">
					<div class="layui-col-lg12 gt">
						<p class="ct-sp1">实惠</p>
						<p class="ct-sp2">精挑细选 自在出行</p>
					</div>
					<div class="layui-col-lg12" style="position: relative;top: -35px;">
						<div class="layui-col-lg3">
							<div class="layui-carousel" id="cont" lay-filter="cont">
								<div carousel-item="">
									<div><img src="__HOME__/img/W020190225529348411343.jpg"></div>
									<div><img src="__HOME__/img/W020190225529500758194.jpg"></div>
									<div><img src="__HOME__/img/W020190225529643563284.jpg"></div>
								</div>
							</div>
						</div>
						<div class="layui-col-lg8 cont-tab">
							<div class="layui-col-lg12" style="text-align: center;">
								<i class="icon-homeland"></i><strong class="gn">国内</strong>
							</div>
							<div class="layui-col-lg12" style="border-bottom: 1px solid #e5e5e5;">
								<div class="layui-col-lg2  ct-lg active" name="city1"><span>北京</span></div>
								<div class="layui-col-lg2  ct-lg" name="city2"><span>海口</span></div>
								<div class="layui-col-lg2  ct-lg" name="city3"><span>三亚</span></div>
								<div class="layui-col-lg2  ct-lg" name="city4"><span>广州</span></div>
								<div class="layui-col-lg2  ct-lg"><span>更多&nbsp;&nbsp;»</span></div>
							</div>
							<div class="qh active" name="city1">							
								<div class="layui-col-lg12 gh">
									<volist name="oneList" id="firstRow" offset="0" length='4'>
										<div class="layui-col-lg3 lg">
											<a href="{:U('search', array('go'=>$firstRow['go'],'arrive'=>$firstRow['arrive'],'date'=>$firstRow['date'],'people'=>'1成人0儿童'))}">
												<div class="layui-col-lg12 gz">
													<div class="layui-col-lg2">{$firstRow.go}</div>
													<div class="layui-col-lg2"><i class="icon-site"></i></div>
													<div class="layui-col-lg2">{$firstRow.arrive}</div>
												</div>
												<div class="layuu-col-lg12 gz1">
													<span>￥</span><strong class="st2">{$firstRow.cheap_price}</strong>
												</div>
												<div class="layuu-col-lg12 gz1">
													<span>{$firstRow.date}</span>
												</div>
												<div class="layui-col-lg12 line-dashed"></div>
											</a>
										</div>
									</volist>
								</div>
								<div class="layui-col-lg12 gh">
										<volist name="oneList" id="secondRow" offset="4" length='4'>
											<div class="layui-col-lg3 lg">
												<a href="{:U('Index/search?go='.$secondRow['go'].'&arrive='.$secondRow['arrive'].'&date='.$secondRow['date'].'&type='.'1成人0儿童')}">
													<div class="layui-col-lg12 gz">
														<div class="layui-col-lg2">{$secondRow.go}</div>
														<div class="layui-col-lg2"><i class="icon-site"></i></div>
														<div class="layui-col-lg2">{$secondRow.arrive}</div>
													</div>
													<div class="layuu-col-lg12 gz1">
														<span>￥</span><strong class="st2">{$secondRow.cheap_price}</strong>
													</div>
													<div class="layuu-col-lg12 gz1">
														<span>{$secondRow.date}</span>
													</div>
													<div class="layui-col-lg12 line-dashed"></div>
												</a>
											</div>
										</volist>
								</div>
								<div class="layui-col-lg12 gh">
										<volist name="oneList" id="thirdRow" offset="8" length='4'>
											<div class="layui-col-lg3 lg">
												<a href="{:U('Index/search?go='.$thirdRow['go'].'&arrive='.$thirdRow['arrive'].'&date='.$thirdRow['date'].'&type='.'1成人0儿童')}">
													<div class="layui-col-lg12 gz">
														<div class="layui-col-lg2">{$thirdRow.go}</div>
														<div class="layui-col-lg2"><i class="icon-site"></i></div>
														<div class="layui-col-lg2">{$thirdRow.arrive}</div>
													</div>
													<div class="layuu-col-lg12 gz1">
														<span>￥</span><strong class="st2">{$thirdRow.cheap_price}</strong>
													</div>
													<div class="layuu-col-lg12 gz1">
														<span>{$thirdRow.date}</span>
													</div>
													<div class="layui-col-lg12 line-dashed"></div>
												</a>
											</div>
										</volist>
								</div>
							</div>
							<div class="qh" name="city2">
										<div class="layui-col-lg12 gh">	
											<volist name="twoList" id="firstRow" offset="0" length="4">									
												<div class="layui-col-lg3 lg">
													<a href="{:U('Index/search?go='.$firstRow['go'].'&arrive='.$firstRow['arrive'].'&date='.$firstRow['date'].'&type='.'1成人0儿童')}">
															<div class="layui-col-lg12 gz">
																<div class="layui-col-lg2">{$firstRow.go}</div>
																<div class="layui-col-lg2"><i class="icon-site"></i></div>
																<div class="layui-col-lg2">{$firstRow.arrive}</div>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>￥</span><strong class="st2">{$firstRow.cheap_price}</strong>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>{$firstRow.date}</span>
															</div>
															<div class="layui-col-lg12 line-dashed"></div>
														</a>
												</div>
											</volist>		
										</div>
										<div class="layui-col-lg12 gh">	
												<volist name="twoList" id="secondRow" offset="4" length="4">									
													<div class="layui-col-lg3 lg">
														<a href="{:U('Index/search?go='.$secondRow['go'].'&arrive='.$secondRow['arrive'].'&date='.$secondRow['date'].'&type='.'1成人0儿童')}">
																<div class="layui-col-lg12 gz">
																	<div class="layui-col-lg2">{$secondRow.go}</div>
																	<div class="layui-col-lg2"><i class="icon-site"></i></div>
																	<div class="layui-col-lg2">{$secondRow.arrive}</div>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>￥</span><strong class="st2">{$secondRow.cheap_price}</strong>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>{$secondRow.date}</span>
																</div>
																<div class="layui-col-lg12 line-dashed"></div>
															</a>
													</div>
												</volist>		
										</div>
										<div class="layui-col-lg12 gh">	
												<volist name="twoList" id="thirdRow" offset="8" length="4">									
													<div class="layui-col-lg3 lg">
														<a href="{:U('Index/search?go='.$thirdRow['go'].'&arrive='.$thirdRow['arrive'].'&date='.$thirdRow['date'].'&type='.'1成人0儿童')}">
																<div class="layui-col-lg12 gz">
																	<div class="layui-col-lg2">{$thirdRow.go}</div>
																	<div class="layui-col-lg2"><i class="icon-site"></i></div>
																	<div class="layui-col-lg2">{$thirdRow.arrive}</div>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>￥</span><strong class="st2">{$thirdRow.cheap_price}</strong>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>{$thirdRow.date}</span>
																</div>
																<div class="layui-col-lg12 line-dashed"></div>
															</a>
													</div>
												</volist>		
										</div>
							</div>
							<div class="qh" name="city3">
									<div class="layui-col-lg12 gh">	
											<volist name="threeList" id="firstRow" offset="0" length="4">									
												<div class="layui-col-lg3 lg">
													<a href="{:U('Index/search?go='.$firstRow['go'].'&arrive='.$firstRow['arrive'].'&date='.$firstRow['date'].'&type='.'1成人0儿童')}">
															<div class="layui-col-lg12 gz">
																<div class="layui-col-lg2">{$firstRow.go}</div>
																<div class="layui-col-lg2"><i class="icon-site"></i></div>
																<div class="layui-col-lg2">{$firstRow.arrive}</div>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>￥</span><strong class="st2">{$firstRow.cheap_price}</strong>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>{$firstRow.date}</span>
															</div>
															<div class="layui-col-lg12 line-dashed"></div>
														</a>
												</div>
											</volist>		
										</div>
										<div class="layui-col-lg12 gh">	
												<volist name="threeList" id="secondRow" offset="4" length="4">									
													<div class="layui-col-lg3 lg">
														<a href="{:U('Index/search?go='.$secondRow['go'].'&arrive='.$secondRow['arrive'].'&date='.$secondRow['date'].'&type='.'1成人0儿童')}">
																<div class="layui-col-lg12 gz">
																	<div class="layui-col-lg2">{$secondRow.go}</div>
																	<div class="layui-col-lg2"><i class="icon-site"></i></div>
																	<div class="layui-col-lg2">{$secondRow.arrive}</div>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>￥</span><strong class="st2">{$secondRow.cheap_price}</strong>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>{$secondRow.date}</span>
																</div>
																<div class="layui-col-lg12 line-dashed"></div>
															</a>
													</div>
												</volist>		
										</div>
										<div class="layui-col-lg12 gh">	
												<volist name="threeList" id="thirdRow" offset="8" length="4">									
													<div class="layui-col-lg3 lg">
														<a href="{:U('Index/search?go='.$thirdRow['go'].'&arrive='.$thirdRow['arrive'].'&date='.$thirdRow['date'].'&type='.'1成人0儿童')}">
																<div class="layui-col-lg12 gz">
																	<div class="layui-col-lg2">{$thirdRow.go}</div>
																	<div class="layui-col-lg2"><i class="icon-site"></i></div>
																	<div class="layui-col-lg2">{$thirdRow.arrive}</div>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>￥</span><strong class="st2">{$thirdRow.cheap_price}</strong>
																</div>
																<div class="layuu-col-lg12 gz1">
																	<span>{$thirdRow.date}</span>
																</div>
																<div class="layui-col-lg12 line-dashed"></div>
															</a>
													</div>
												</volist>		
										</div>
						</div>
						<div class="qh" name="city4">
								<div class="layui-col-lg12 gh">	
										<volist name="fourList" id="firstRow" offset="0" length="4">									
											<div class="layui-col-lg3 lg">
												<a href="{:U('Index/search?go='.$firstRow['go'].'&arrive='.$firstRow['arrive'].'&date='.$firstRow['date'].'&type='.'1成人0儿童')}">
														<div class="layui-col-lg12 gz">
															<div class="layui-col-lg2">{$firstRow.go}</div>
															<div class="layui-col-lg2"><i class="icon-site"></i></div>
															<div class="layui-col-lg2">{$firstRow.arrive}</div>
														</div>
														<div class="layuu-col-lg12 gz1">
															<span>￥</span><strong class="st2">{$firstRow.cheap_price}</strong>
														</div>
														<div class="layuu-col-lg12 gz1">
															<span>{$firstRow.date}</span>
														</div>
														<div class="layui-col-lg12 line-dashed"></div>
													</a>
											</div>
										</volist>		
									</div>
									<div class="layui-col-lg12 gh">	
											<volist name="fourList" id="secondRow" offset="4" length="4">									
												<div class="layui-col-lg3 lg">
													<a href="{:U('Index/search?go='.$secondRow['go'].'&arrive='.$secondRow['arrive'].'&date='.$secondRow['date'].'&type='.'1成人0儿童')}">
															<div class="layui-col-lg12 gz">
																<div class="layui-col-lg2">{$secondRow.go}</div>
																<div class="layui-col-lg2"><i class="icon-site"></i></div>
																<div class="layui-col-lg2">{$secondRow.arrive}</div>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>￥</span><strong class="st2">{$secondRow.cheap_price}</strong>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>{$secondRow.date}</span>
															</div>
															<div class="layui-col-lg12 line-dashed"></div>
														</a>
												</div>
											</volist>		
									</div>
									<div class="layui-col-lg12 gh">	
											<volist name="fourList" id="thirdRow" offset="8" length="4">									
												<div class="layui-col-lg3 lg">
													<a href="{:U('Index/search?go='.$thirdRow['go'].'&arrive='.$thirdRow['arrive'].'&date='.$thirdRow['date'].'&type='.'1成人0儿童')}">
															<div class="layui-col-lg12 gz">
																<div class="layui-col-lg2">{$thirdRow.go}</div>
																<div class="layui-col-lg2"><i class="icon-site"></i></div>
																<div class="layui-col-lg2">{$thirdRow.arrive}</div>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>￥</span><strong class="st2">{$thirdRow.cheap_price}</strong>
															</div>
															<div class="layuu-col-lg12 gz1">
																<span>{$thirdRow.date}</span>
															</div>
															<div class="layui-col-lg12 line-dashed"></div>
														</a>
												</div>
											</volist>		
									</div>
					</div>
					</div>
				</div>
			</div>

			<span class="s3" style="display: none;"></span>
			<div class="layui-row">
			<div class="layui-col-lg12 body-bottom">
				<div class="layui-row">
					<div class="layui-col-lg-offse2 layui-col-lg8  layui-col-lg-offset2" style="position: relative;left: 40px;">
						<div class="layui-row" style="margin-top: 10px;">
							<div class="layui-col-lg12">
								<div class="layui-row bt-1">
									<div class="layui-col-lg3">
										其他站点
									</div>
									<div class="layui-col-lg3">
										有用链接
									</div>
									<div class="layui-col-lg3">
										联系我们
									</div>
									<div class="layui-col-lg3">
										关注我们
									</div>
								</div>
								<div class="layui-row bt-1">
									<div class="layui-col-lg3">
										航班通行证
									</div>
									<div class="layui-col-lg3">
										隐私政策
									</div>
									<div class="layui-col-lg3">
										品牌大使
									</div>
									<div class="layui-col-lg3">
										<i class="layui-icon layui-icon-login-wechat"></i>&nbsp;&nbsp;瓦坎达航空公司
									</div>
								</div>
								<div class="layui-row bt-1">
									<div class="layui-col-lg3">
										BlueBiz
									</div>
									<div class="layui-col-lg3">
										免责声明
									</div>
									<div class="layui-col-lg3">
										预订政策
									</div>
									<div class="layui-col-lg3">
										<i class="layui-icon layui-icon-login-weibo"></i>&nbsp;&nbsp;@kenyaAirways
									</div>
								</div>
								<div class="layui-row bt-1">
									<div class="layui-col-lg3">
										团体预订
									</div>
									<div class="layui-col-lg3">
										昆虫杀灭
									</div>
									<div class="layui-col-lg3">
										肯航管理政策
									</div>
									<div class="layui-col-lg3">
										<i class="layui-icon layui-icon-login-qq"></i>&nbsp;&nbsp;officialkenyaairways
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="__HOME__/js/jquery-1.11.1.min.js"></script>
		<script src="__HOME__/js/unslider.min.js"></script>
		<script src="__HOME__/js/layui.js"></script>
		<script src="__HOME__/js/layui.all.js"></script>
		<script src="__HOME__/js/cityTemplate.js"></script>
		<script src="__HOME__/js/body.js"></script>
		<script>
			/*轮播图*/
			$().ready(function() {
				var imgH = $('#lb1 img')[0].height;
				var imgW = $('#lb1 img')[0].width;
				layui.use('carousel', function() {
					var carousel = layui.carousel;
					//建造实例
					carousel.render({
						elem: '#lb1',
						width: '100%' //设置容器宽度
							,
						height: imgH
					});
					carousel.render({
						elem: '#cont',
						arrow: 'always',
						width: '290px',
						height: '460px'
					});

				});
			})
			/*轮播图end*/


			/*面板2*/
			/*登录用户选择*/
			$('.indent-selet .selet-body,.indent-selet .d-icon').click(function() {
				var ul = $(".indent-selet ul");
				if (ul.css("display") == "none") {
					ul.slideDown("fast");
				} else {
					ul.slideUp("fast");
				}
			});
			$(".indent-selet ul li").click(function() {
				var txt = $(this).text();
				$(".indent-selet input").val(txt);
				$(".selet-name").html(txt + ":");
				$(".indent-selet ul").hide();
			});
			/*登录用户选择end*/
			/*面板2end*/
			/*内容城市选择*/
			$('.ct-lg').click(function(name) {
				var cityname = $(this).attr("name");
				$('.ct-lg.active').removeClass('active');
				$('.ct-lg[name="' + cityname + '"]').addClass('active');
				$('.qh.active').removeClass('active');
				$('.qh[name="' + cityname + '"]').addClass('active');
			})
			/*内容城市选择end*/
		</script>
		<script>
			var btn;
			btn = $('.s1').html();
			$('.s3').html(btn);
			/*按钮点击*/
			$('.d1').click(function() {
				$('.d1').addClass('on');
				$('.d2').removeClass('on');
				$('.end-time').addClass('nt');
				$('.d-selet').css("left", "24px");
				$('.selet').css("left", "57px");
				btn = $('.s1').html();
				$('.s3').html(btn);
			});
			$('.d2').click(function() {
				var nt = $(".nt");
				if (nt.css("display") == "none") {
					nt.slideDown("fast");
				}
				$('.d2').addClass('on');
				$('.d1').removeClass('on');
				$('.end-time.nt').removeClass('nt');
				setTimeout(function() {
					$('.d-btn').css("position", "relative")
				}, 60);
				setTimeout(function() {
					$('.tab-b1').css("padding-bottom", "100px")
				}, 60);
				btn = $('.s2').html();
				$('.s3').html(btn);
				$('#test2').val( new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
			});
			/*按钮点击end*/
			/*传参数*/
			$('.d-btn').click(function() {
				var selet = $(".s3").html();
				window.location.href = "search.html?valus=" + selet;
			});

			/*传参数end*/
			var now = new Date(); 
			$('#test1').val( new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate());
		</script>
	</body>
</html>
