<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__HOME__/css/tyle.css" />
		<link rel="stylesheet" href="__HOME__/css/search.css">
		<link rel="stylesheet" href="__HOME__/css/body.css" />
		<link rel="stylesheet" href="__HOME__/css/layui.css" media="all">
	</head>
	<body>
		<!-- 导航栏 -->
		<div class=" layui-fluid" style="">
			<div class="layui-row  rt" style="background-color: #FFFfff;">
				<div class="layui-col-lg3  bt">
					<a href="{:U('Index/index')}">
					<div class="bottom-section">
						<img src="__HOME__/kq-logo.svg">
						<img src="__HOME__/skyteam.svg" style="margin-left: 8px;margin-top: px;">
					</div>
					</a>
				</div>
				<div class="layui-col-lg5  layui-col-lg-offset4  bt ">
					<div class="layui-row title-rw">
						<if condition="isset($_SESSION['user'])" >
							<div class="layui-col-lg3 title-lg"><a href="{:U('User/information')}">{$Think.session.user.username}</a></div>
						</if>
						<div class="layui-col-lg3 title-lg"><a href="{:U('Index/index')}">首页</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">关于我们</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">客户支持</a></div>
						<div class="layui-col-lg3 title-lg">
							<if condition="(!isset($_SESSION['user']) || $_SESSION['user']=='')">
								<a href="{:U('User/login')}">登录</a>/				
								<a href="{:U('User/register')}">注册</a>
							<else/>
								<!-- {:session('user.username')} -->
								<a href="{:U('User/logOut')}">退出</a>
							</if>
						</div>
					</div>
				</div>
			</div>
			<!-- 导航栏end -->
			<!-- 航班进程 -->
			<div class="layui-row  ba" style="height: 1000px">
				<div class="layui-col-lg-offset2 layui-col-lg8 layui-col-lg-offset2">
					<div class="layui-row">
						<div class="layui-col-lg12">
							<div class="steps">
								<div class="steps1 sp">
									<i class=" layui-icon layui-icon-search sr"></i>
									<span class="dot">航班查询</span>
								</div>
								<div class="steps1 sp">
									<i class=" layui-icon layui-icon-release sr"></i>
									<span class="dot">航班选择</span>
								</div>
								<div class="steps2 sp">
									<i class="layui-icon layui-icon-survey sr"></i>
									<span class="dot"> 填写信息</span>
								</div>
								<div class="steps2 sp">
									<i class="layui-icon layui-icon-rmb sr"></i>
									<span class="dot">订单支付</span>
								</div>
								<div class="steps2 sp">
									<i class="layui-icon layui-icon-ok sr"></i>
									<span class="dot">订单完成</span>
								</div>
							</div>
						</div>
					</div>
					<!-- 航班进程 end-->
					<!-- 航班面板 -->
					<div class="layui-row lw" style="height:320px;">
						<form>
							<div class="layui-col-lg12">
								<div class="tab-b1">
									<div class="go-city">
										<div class="gc-left">出发城市:</div>
										<input type="text" name="go" placeholder="(拼音/汉字)" id="place" />
									</div>
									<div class="shift"></div>
									<div class="end-city">
										<div class="end-left">到达城市:</div>
										<input type="text" name="arrive" placeholder="(拼音/汉字)" id="destination" />
									</div>
									<div id="in_city" style="display: none"></div>
									<div class="d-radio">
										<a><i class="d-icon on  d1"></i><span>单程</span></a>
										<a><i class="d-icon d2"></i><span>往返</span></a>
									</div>
									<button class="d-btn">搜索航班</button>
									<div class="nt">
										<div class="go-time">
											<div class="time-left">出发时间:</div>
											<input type="datetime" name="date" placeholder="2019/7/12" id="test1" />
										</div>
										<div class="end-time">
											<div class="time-left">返程时间:</div>
											<input type="datetime" name="back_date" placeholder="2019/7/13" id="test2" />
										</div>
										<div style="position: relative;display: inline-block;">
											<div class="d-selet" style="width:238px;cursor:pointer">
												<input class="pl" name="people" value="1成人0儿童" style="cursor:pointer;" onfocus="this.blur()" /><i class="d-icon"></i>
											</div>
											<ul class="selet">
												<li>成人（≥12岁）<button style="margin-left: 40px;" class="bt1" type="button"><span>-</span></button><input type="text" value="1"
													 class="st" /> <button class="bt2" type="button"><span>+</span></button></li>
												<li>儿童（2-11岁）<button style="margin-left:37px;" class="bt3" type="button"><span>-</span></button><input type="text" value="0"
													 class="st1" /> <button class="bt4" type="button"><span>+</span></button></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</from>
					<!-- 航班面板end-->
					<!-- 去程航班信息 -->
					<div class="layui-row">
						<div class="latui-col-lg12">
							<div class="fly-title">
								<span id="people" style="display: none" >{$people}</span>
								<span class="s1">已找到<span class="s-font">&nbsp;{$go_sum}&nbsp;</span>个航班，请选择去程航班</span>
								<span class="s2">去程</span>
							</div>
						</div>
					</div>
				<volist name="list" id="list">
					<div class="layui-row  col" name=<?php echo rand(1,10000000) ?> >
						<div class="layui-col-lg8">
							<div class="fly-conter">
								<div class="layui-row">
									<div class="layui-col-lg6">
										<div class="layui-row" style="text-align: center;">
											<div class="layui-col-lg4">
												<div class="layui-row">
													<div class="yui-col-lg12">
														<span class="fly-time">{$list.go_time|getHourMin}</span>
													</div>
													<div class="yui-col-lg12">
														{$list.go}
													</div>
													<div class="yui-col-lg12">
														{$list.go_time|getMonth}月{$list.go_time|getDay}日
													</div>
												</div>
											</div>
											<div class="tid" style="display:none" >{$list.tid}</div>
											<div class="layui-col-lg4">
												<div class="to-line">
													<i class="layui-icon layui-icon-release fly-icon"></i>
													<span class="arrive-time">{$list['go_time'],$list['arrive_time']|countTime}</span>
												</div>
											</div>
											<div class="layui-col-lg4">
												<div class="layui-row">
													<div class="yui-col-lg12">
														<span class="fly-time">{$list.arrive_time|getHourMin}</span>
													</div>
													<div class="yui-col-lg12">
														{$list.arrive}
													</div>
													<div class="yui-col-lg12">
														{$list.arrive_time|getMonth}月{$list.arrive_time|getDay}日
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="layui-col-lg6" style="text-align: left;">
										<img src="__HOME__/img/logo_HU.png" class="img"><span class="fil-plane">&nbsp;{$list.flight_number}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="layui-col-lg4"  style="height: 185px;">
							<div class="layui-row rw"  name="r1">
								<div class="layui-col-lg4  plane-lg qt " name="<?php echo rand(1,10000000) ?>">
									<div class="layui-row  fly-type">
										<div class="layui-col-lg12 ">
											<span class="fly-class" >公务舱</span>
										</div>
										<div class="layui-col-lg12 row">
											<span class="fly-money">￥{$list.expensive_price|interge}</span>起
										</div>
										<img src="__HOME__/img/arrow_down_01.png" class="fly-img"/>
									</div>
								</div>
								<div class="layui-col-lg4 plane-lg qt" name=<?php echo rand(1,10000000) ?> >
									<div class="layui-row fly-type1">
										<div class="layui-col-lg12 ">
											<span class="fly-class" >经济舱</span>
										</div>
										<div class="layui-col-lg12 row">
											<span class="fly-money">￥{$list.cheap_price|interge}</span>起
										</div>
										<img src="__HOME__/img/arrow_down_01.png" class="fly-img" />
									</div>
								</div>
								<div class="layui-col-lg4 plane-lg2" name=<?php echo rand(1,10000000) ?>  >
									<div class="layui-row  fly-type2 ">
										<div class="layui-col-lg12 row" style="height: 162px;">
											<span class="fly-fh">预订</span>
										</div>
										<img src="img/arrow_down_01.png" class="fly-img2" style="top:17px;" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</volist>
					<!--去程航班信息end  -->			
					<!-- 返程航班信息 -->
					<div class="arrive-close">
					<div class="layui-row" style="margin-top: 40px;">
						<div class="latui-col-lg12">
							<div class="fly-title">
								<span class="s3">已找到<span class="s-font">&nbsp;{$back_sum}&nbsp;</span>个航班，请选择返程航班<a id="aa"></a></span>
									<span class="s4">返程</span>
							</div>
						</div>
					</div>
					<volist name="back_list" id="back_list">
						<div class="layui-row  col1" name=<?php echo rand(1,10000000) ?> >
						<div class="layui-col-lg8">
							<div class="fly-conter">
								<div class="layui-row">
									<div class="layui-col-lg6">
										<div class="layui-row" style="text-align: center;">
											<div class="layui-col-lg4">
												<div class="layui-row">
													<div class="yui-col-lg12">
														<span class="fly-time">{$back_list.go_time|getHourMin}</span>
													</div>
													<div class="yui-col-lg12">
														{$back_list.go}
													</div>
													<div class="yui-col-lg12">
														{$back_list.go_time|getMonth}月{$back_list.go_time|getDay}日
													</div>
												</div>
											</div>
											<div class="tid" style="display:none" >{$back_list.tid}</div>
											<div class="layui-col-lg4">
												<div class="to-line">
													<i class="layui-icon layui-icon-release fly-icon"></i>
													<span class="arrive-time">{$back_list['go_time'],$back_list['arrive_time']|countTime}</span>
												</div>
											</div>
											<div class="layui-col-lg4">
												<div class="layui-row">
													<div class="yui-col-lg12">
														<span class="fly-time">{$back_list.arrive_time|getHourMin}</span>
													</div>
													<div class="yui-col-lg12">
														{$back_list.arrive}
													</div>
													<div class="yui-col-lg12">
														{$back_list.arrive_time|getMonth}月{$back_list.arrive_time|getDay}日
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="layui-col-lg6" style="text-align: left;">
										<img src="__HOME__/img/logo_HU.png" class="img"><span class="fil-plane">&nbsp;{$back_list.flight_number}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="layui-col-lg4"  style="height: 185px;" >
							<div class="layui-row rw">
								<div class="layui-col-lg4  plane-lg1 qt" name=<?php echo rand(1,10000000) ?> >
									<div class="layui-row  fly-type">
										<div class="layui-col-lg12 ">
											<span class="fly-class">公务舱</span>
										</div>
										<div class="layui-col-lg12 row">
											<span class="fly-money">￥{$back_list.expensive_price|interge}</span>起
										</div>
										<img src="__HOME__/img/arrow_down_01.png" class="fly-img1"/>
									</div>
								</div>
								<div class="layui-col-lg4 plane-lg1 qt" name=<?php echo rand(1,10000000) ?> >
									<div class="layui-row fly-type1">
										<div class="layui-col-lg12 ">
											<span class="fly-class">经济舱</span>
										</div>
										<div class="layui-col-lg12 row">
											<span class="fly-money">￥{$back_list.cheap_price|interge}</span>起
										</div>
										<img src="__HOME__/img/arrow_down_01.png" class="fly-img1" />
									</div>
								</div>
								<div class="layui-col-lg4 plane-lg3 " name=<?php echo rand(1,10000000) ?>  >
									<div class="layui-row  fly-type2 ">
										<div class="layui-col-lg12 row" style="height: 162px;">
											<span  class="maodian">预订</span>
										</div>
										<img src="img/arrow_down_01.png" class="fly-img2" style="top:17px;" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</volist>
					
					</div>
					<!-- 返程航班信息end -->
					<!-- 立即预定 -->
					<div class="layui-row fly-play">
						<div class="layui-col-lg-offset8  layui-col-lg4">
							<button class="d-btn" type="button" >立即预定</button>
						</div>
					</div>
					<!-- 立即预定end -->
				</div>
				
			</div>
			<div class="layui-row">
					<div class="layui-col-lg12 body-bottom">
						<div class="layui-row">
							<div class="layui-col-lg-offse2 layui-col-lg8  layui-col-lg-offset2" style="position: relative;left: 40px;">
								<div class="layui-row" style="margin-top: 10px;">
									<div class="layui-col-lg12">
										<div class="layui-row bt-1">
											<div class="layui-col-lg3">
												其他站点
											</div>
											<div class="layui-col-lg3">
												有用链接
											</div>
											<div class="layui-col-lg3">
												联系我们
											</div>
											<div class="layui-col-lg3">
												关注我们
											</div>
										</div>
										<div class="layui-row bt-1">
											<div class="layui-col-lg3">
												航班通行证
											</div>
											<div class="layui-col-lg3">
												隐私政策
											</div>
											<div class="layui-col-lg3">
												品牌大使
											</div>
											<div class="layui-col-lg3">
												<i class="layui-icon layui-icon-login-wechat"></i>&nbsp;&nbsp;瓦坎达航空公司
											</div>
										</div>
										<div class="layui-row bt-1">
											<div class="layui-col-lg3">
												BlueBiz
											</div>
											<div class="layui-col-lg3">
												免责声明
											</div>
											<div class="layui-col-lg3">
												预订政策
											</div>
											<div class="layui-col-lg3">
												<i class="layui-icon layui-icon-login-weibo"></i>&nbsp;&nbsp;@kenyaAirways
											</div>
										</div>
										<div class="layui-row bt-1">
											<div class="layui-col-lg3">
												团体预订
											</div>
											<div class="layui-col-lg3">
												昆虫杀灭
											</div>
											<div class="layui-col-lg3">
												肯航管理政策
											</div>
											<div class="layui-col-lg3">
												<i class="layui-icon layui-icon-login-qq"></i>&nbsp;&nbsp;officialkenyaairways
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		<script src="__HOME__/js/jquery-1.11.1.min.js"></script>
		<script src="__HOME__/js/unslider.min.js"></script>
		<script src="__HOME__/js/layui.js"></script>
		<script src="__HOME__/js/layui.all.js"></script>
		<script src="__HOME__/js/cityTemplate.js"></script>
		<script src="__HOME__/js/body.js"></script>
		<script>
			/*获取参数*/
			function getQueryVariable(variable){
		        var query = window.location.search.substring(1);
		        var vars = query.split("&");
		        for (var i=0;i<vars.length;i++) {
		            var pair = vars[i].split("=");
		        	if(pair[0] == variable){return pair[1];}
		       	}
		       	return(false);
			}
			/*获取参数end*/
			/*判断是否单程还是返程*/
			var selet = getQueryVariable("back_date");
			if(!selet){
				 	/*选择*/
				$('.plane-lg').click(function(){
				 	var name=$(this).attr("name");
				 	$('.plane-lg.active').removeClass('active');
				 	$('.plane-lg[name="'+name+'"]').addClass('active');
				 	$('.fly-img.active').removeClass('active');
				 	$('.plane-lg[name="'+name+'"] img').addClass('active');
				 	$('.plane-lg .fly-class').css('top','6px');
				 	$('.plane-lg .row').css('top','45px');
				 	$('.plane-lg[name="'+name+'"] .fly-class').css('top','65px');
				 	$('.plane-lg[name="'+name+'"] .row').css('top','65px');
				 	var name=$(this).attr("name");
     				$('.plane-lg').addClass('qt');
      				$('.plane-lg[name="'+name+'"].qt').removeClass('qt');
				 });
				 $('.plane-lg2').click(function(){
				      var name=$(this).attr("name");
				      var name1= $(this).parent().parent().parent().attr("name");
				      var name2=$(this).parent().attr('name');
				      var rt=$(this).parent().find('.fly-class').css("top");
				      var rt1=new Array(); 
				      $(this).parent().find('.fly-class').each(function(){
				       rt1[2]=$(this).css("top");
				      });
				      if(rt1[2]=="65px" || rt=="65px"){
				        $('.plane-lg2').css("display","none");
				        $('.plane-lg.qt').css("display","none");
				      }else{
				       alert('请选择去程机票类型');
				       return false;
				      }
				      $('.col').css("display","none");
				      $('.col[name="'+name1+'"]').css("display","block");
				      $('.plane-lg2.active').removeClass('active');
				      $('.plane-lg2[name="'+name+'"]').addClass('active');
				      $('.fly-img2.active').removeClass('active');
				      $('.plane-lg2[name="'+name+'"] img').addClass('active');
				      $('.plane-lg2 .fly-class').css('top','6px');
				      $('.plane-lg2 .row').css('top','45px');
				      $('.plane-lg2[name="'+name+'"] .fly-class').css('top','65px');
				      $('.plane-lg2[name="'+name+'"] .row').css('top','65px');
				     $('.ba').css('height','800px');
				     if( $('.plane-lg2').hasClass('active')  ){
				      $('.fly-play').css('display','block');
				    }
				});
				 /*选择end*/
			}else{
				var selet = new Array();
				$('.fly-fh').html("返程");
				$('.arrive-close').addClass('active');
				$('.plane-lg').click(function(){
					var name=$(this).attr("name");
					$('.plane-lg').addClass('qt');
					  $('.plane-lg[name="'+name+'"].qt').removeClass('qt');
					$('.plane-lg.active').removeClass('active');
					$('.plane-lg[name="'+name+'"]').addClass('active');
					$('.fly-img.active').removeClass('active');
					$('.plane-lg[name="'+name+'"] img').addClass('active');
					$('.plane-lg .fly-class').css('top','6px');
					$('.plane-lg .row').css('top','45px');
					$('.plane-lg[name="'+name+'"] .fly-class').css('top','65px');
					$('.plane-lg[name="'+name+'"] .row').css('top','65px');
				});
				$('.plane-lg1').click(function(){
					var name=$(this).attr("name");
					$('.plane-lg1').addClass('qt');
					  $('.plane-lg1[name="'+name+'"].qt').removeClass('qt');
					$('.plane-lg1.active,.plane-lg3.active').removeClass('active');
					$('.plane-lg1[name="'+name+'"]').addClass('active');
					$('.fly-img1.active,.fly-img2.active').removeClass('active');
					$('.plane-lg1[name="'+name+'"] img').addClass('active');
					$('.plane-lg1 .fly-class').css('top','6px');
					$('.plane-lg1 .row').css('top','45px');
					$('.plane-lg2 .fly-class').css('top','6px');
					$('.plane-lg2 .row').css('top','45px');
					$('.plane-lg1[name="'+name+'"] .fly-class').css('top','65px');
					$('.plane-lg1[name="'+name+'"] .row').css('top','65px');
				});
				$('.plane-lg2').click(function(){
					var name=$(this).attr("name");
					var name1= $(this).parent().parent().parent().attr("name");
					var name2=$(this).parent().attr('name');
					var rt=$(this).parent().find('.fly-class').css("top");
					var rt1=new Array();	
					$(this).parent().find('.fly-class').each(function(){
						rt1[2]=$(this).css("top");
					});
					if(rt1[2]=="65px" || rt=="65px"){
					  $('.plane-lg2').css("display","none");
					  $('.plane-lg.qt').css("display","none");
					  $('.fly-title .s1').css("display","none");
					  $('.fly-title .s2').css("display","block");
					}else{
						alert('请选择去程机票类型');
						return false;
					}
					$('.col').css("display","none");
					$('.col[name="'+name1+'"]').css("display","block");
					$('.plane-lg2.active').removeClass('active');
					$('.plane-lg2[name="'+name+'"]').addClass('active');
					$('.fly-img2.active').removeClass('active');
					$('.plane-lg2[name="'+name+'"] img').addClass('active');
					$('.plane-lg2 .fly-class').css('top','6px');
					$('.plane-lg2 .row').css('top','45px');
					$('.plane-lg2[name="'+name+'"] .fly-class').css('top','65px');
					$('.plane-lg2[name="'+name+'"] .row').css('top','65px');
					if($('.plane-lg').hasClass('active') && $('.plane-lg1').hasClass('active') && $('.plane-lg2').hasClass('active')  && $('.plane-lg3').hasClass('active') ){
						$('.fly-play').css('display','block');
						
					}
				});
				$('.plane-lg3').click(function(){
					var name=$(this).attr("name");
					var name1= $(this).parent().parent().parent().attr("name");
					var rt=$(this).parent().find('.fly-class').css("top");
					var rt1=new Array();	
					$(this).parent().find('.fly-class').each(function(){
						rt1[2]=$(this).css("top");
					});
					if(rt1[2]=="65px" || rt=="65px"){
					  $('.plane-lg3').css("display","none");
					  $('.plane-lg1.qt').css("display","none");
					  $('.fly-title .s3').css("display","none");
					  $('.fly-title .s4').css("display","block");
					}else{
						alert('请选择返程机票类型');
						return false;
					}
					$('.plane-lg3.active').removeClass('active');
					$('.plane-lg3[name="'+name+'"]').addClass('active');
					$('.fly-img2.active').removeClass('active');
					$('.plane-lg3[name="'+name+'"] img').addClass('active');
					$('.plane-lg3[name="'+name+'"] .fly-class').css('top','65px');
					$('.plane-lg3[name="'+name+'"] .row').css('top','65px');
					if($('.plane-lg2').hasClass('active')){
						$('.fly-play').css('display','block');
					}
					$('.col1').css("display","none");
                    $('.col1[name="'+name1+'"]').css("display","block");
                    	if($('.plane-lg').hasClass('active') && $('.plane-lg1').hasClass('active') && $('.plane-lg2').hasClass('active')  && $('.plane-lg3').hasClass('active') ){
						
					}
				});


			}

						//获取选中的 tid和机票类型
	        var url = "{:U('Order/orderContent')}" + "?";
			$(".d-btn").click(function(){
				var s = $('.col').each(function(item,v){
					if($(v).css("display") == "block"){
						type = $(v).find('.plane-lg.active .fly-class').html();
						tid = $(v).find('.tid').html();
						if(type=="经济舱"){
							type = 0;
						}else{
							type = 1;
						}
						url += "tid="+tid+"&ticket_type="+type;
					}
				});

				var s = $('.col1').each(function(item,v){
					if($(v).css("display") == "block"){
						type = $(v).find('.plane-lg1.active .fly-class').html();
						tid = $(v).find('.tid').html();
						if(type=="经济舱"){
							type = 0;
						}else{
							type = 1;
						}
						url += "&back_tid="+tid+"&back_ticket_type="+type;
					}
					
				});
				var people = $('#people').html();
				console.log(people);
				url += "&people=" + people;
				window.location = url;
			})
			/*判断是单程还是返程end*/
		</script>
	</body>
</html>
