<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__HOME__/css/tyle.css" />
		<link rel="stylesheet" href="__HOME__/css/body.css" />
		<link rel="stylesheet" href="__HOME__/css/layui.css" media="all">
		<link rel="stylesheet" type="text/css" href="__HOME__/css/css.css">
		<link rel = "stylesheet" type="text/css" href="__HOME__/font-awesome/css/font-awesome.min.css">
		<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="__HOME__/lib/layui/layui.js" charset="utf-8"></script>
	</head>
	<body>
		<!-- 导航栏 -->
		<div class=" layui-fluid" style="">
			<div class="layui-row  rt" style="background-color: #FFFfff;">
				<div class="layui-col-lg3  bt">
					<div class="bottom-section">
						<img src="__HOME__/kq-logo.svg">
						<img src="__HOME__/skyteam.svg" style="margin-left: 8px;margin-top: px;">
					</div>
				</div>
				<div class="layui-col-lg4  layui-col-lg-offset5  bt ">
					<div class="layui-row title-rw">
						<div class="layui-col-lg3 title-lg"><a href="{:U('Index/index')}">首页</a></div>
						<div class="layui-col-lg3 title-lg">
								<if condition="(!isset($_SESSION['user']) || $_SESSION['user']=='')">
									<a href="{:U('User/login')}">登录</a>/				
									<a href="{:U('User/register')}">注册</a>
								<else/>
									<!-- {:session('user.username')} -->
									<a href="{:U('User/logOut')}">退出</a>
									<a href="{:U('User/information')}">个人信息</a>
								</if>
						</div>
						<div class="layui-col-lg3 title-lg"><a href="">关于我们</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">客户支持</a></div>
					</div>
				</div>
			</div>
			<!-- 导航栏end -->
			<!-- 内容 -->
			<div class="layui-row">
				<div class="layui-col-lg12">
					<div class="middle">
						<div class="login-list">
							<div class="login-hd">会员登录</div>
							<div class="layui-layout-body">
								<form action="{:U('User/postLogin')}" method="post" class="layui-form">			
									<div class="item1">
										<span class="text"><span class="span">&nbsp;&nbsp;*</span>用户名：</span>
											<input class="inputbox" type="text" id="name" name="username">
										<label style="display:none" class="tip" id="phone_tip">
											<i class="fa fa-exclamation-circle fa-1x" aria-hidden="true"></i>
											<span>请输入用户名</span>
										</label>
									</div>
									<!-- <div class="item">
										<span class="text"><span class="span">&nbsp;&nbsp;*</span>手机号：</span>
										<input class="inputbox" type="text" name="phone" id="phone"/>
									</div> -->
									<div class="item">
										<span class="text"><span class="span">&nbsp;&nbsp;*</span>密码：</span>
										<input class="inputbox" type="password" name="password" id="password" value=""/>
									</div>
								
									<div class="btnlink layui-form-item">
										<input class="btnlogin" lay-submit="" lay-filter="login" type="submit"  value="登&nbsp;&nbsp;录" >
										
										<a class="forgetpass" href="forgetpass.html">忘记密码？</a>
									</div>
								</form>
							</div>
							<div class="reg-bd">
								<strong>会员可享受</strong><span class="">
								<i class="fa fa-space-shuttle fa-1x" ></i>全航班预定票价9折优惠</span><span class="">
								<i class="fa fa-space-shuttle fa-1x" ></i>快捷方便管理历史订单记录</span>
								<a href="register.html" class="btn-go">去注册</a>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
			<!-- 内容end -->
			<!-- 尾部 -->
			<div class="layui-row">
				<div class="layui-col-lg12 body-bottom">
					<div class="layui-row">
						<div class="layui-col-lg-offset2 layui-col-lg8  layui-col-lg-offset2" style="position: relative;left: 40px;">
							<div class="layui-row" style="margin-top: 10px;">
								<div class="layui-col-lg12">
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											其他站点
										</div>
										<div class="layui-col-lg3">
											有用链接
										</div>
										<div class="layui-col-lg3">
											联系我们
										</div>
										<div class="layui-col-lg3">
											关注我们
										</div>
									</div>
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											航班通行证
										</div>
										<div class="layui-col-lg3">
											隐私政策
										</div>
										<div class="layui-col-lg3">
											品牌大使
										</div>
										<div class="layui-col-lg3">
											<i class="layui-icon layui-icon-login-wechat"></i>&nbsp;&nbsp;瓦坎达航空公司
										</div>
									</div>
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											BlueBiz
										</div>
										<div class="layui-col-lg3">
											免责声明
										</div>
										<div class="layui-col-lg3">
											预订政策
										</div>
										<div class="layui-col-lg3">
											<i class="layui-icon layui-icon-login-weibo"></i>&nbsp;&nbsp;@kenyaAirways
										</div>
									</div>
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											团体预订
										</div>
										<div class="layui-col-lg3">
											昆虫杀灭
										</div>
										<div class="layui-col-lg3">
											肯航管理政策
										</div>
										<div class="layui-col-lg3">
											<i class="layui-icon layui-icon-login-qq"></i>&nbsp;&nbsp;officialkenyaairways
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 尾部end -->
			<script>
			layui.use('form', function () {
            var form = layui.form;
			console.log(form);
            //监听提交
            form.on('submit(login)', function (data) {
				
                let url = "{:U('postLogin')}";
                let post = JSON.stringify(data.field);
                console.log(url, post);
                $.ajax({
                    type: 'post',
                    url: url,
                    data: 'post=' + post,
                    dataType: 'json',
                    success: function (json) {
                        console.log(json);
                        if (json.status == 1) {
                            layer.msg(json.msg, {
                                    icon: 1,
                                    time: 1500 //1.5秒关闭（如果不配置，默认是3秒）
                                },function () {
                                    location.href = json.url;
                                });
                        } else {
                            layer.msg(json.msg, {
                                    icon: 2,
                                    time: 1500 //1.5秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                return false;
                            });
                        }
                    }
                });
                return false;
            });
        });
			</script>
			<!-- <script type="text/javascript" src="__HOME__/js/form01.js"></script>
			<script type="text/javascript" src="__HOME__/js/yanzheng.js"></script> -->
	</body>
</html>
