<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="__HOME__/css/tyle.css" />
		<link rel="stylesheet" href="__HOME__/css/body.css" />
		<link rel="stylesheet" href="__HOME__/css/content.css" />
		<link rel="stylesheet" href="__HOME__/css/layui.css" media="all">
	</head>
	<body>
		<!-- 导航栏 -->
		<div class=" layui-fluid" style="">
			<div class="layui-row  rt" style="background-color: #FFFfff;">
				<div class="layui-col-lg3  bt">
					<div class="bottom-section">
						<img src="__HOME__/kq-logo.svg">
						<img src="__HOME__/skyteam.svg" style="margin-left: 8px;margin-top: px;">
					</div>
				</div>
				<div class="layui-col-lg4  layui-col-lg-offset5  bt ">
					<div class="layui-row title-rw">
						<div class="layui-col-lg3 title-lg"><a href="">首页</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">登录</a>/<a href="">注册</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">关于我们</a></div>
						<div class="layui-col-lg3 title-lg"><a href="">客户支持</a></div>
					</div>
				</div>
			</div>
			<!-- 导航栏end -->
			<!-- 航班进程 -->
			<div class="layui-row  ba">
				<div class="layui-col-lg-offset2 layui-col-lg8 layui-col-lg-offset2">
					<div class="layui-row">
						<div class="layui-col-lg12">
							<div class="steps">
								<div class="steps1 sp">
									<i class=" layui-icon layui-icon-search sr"></i>
									<span class="dot">航班查询</span>
								</div>
								<div class="steps1 sp">
									<i class=" layui-icon layui-icon-release sr"></i>
									<span class="dot">航班选择</span>
								</div>
								<div class="steps1 sp">
									<i class="layui-icon layui-icon-survey sr"></i>
									<span class="dot"> 填写信息</span>
								</div>
								<div class="steps2 sp">
									<i class="layui-icon layui-icon-rmb sr"></i>
									<span class="dot">订单支付</span>
								</div>
								<div class="steps2 sp">
									<i class="layui-icon layui-icon-ok sr"></i>
									<span class="dot">订单完成</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 航班进程 end-->
			<!-- 内容 -->
			<div class="layui-row" style="height: 800px;margin-top: 40px;">
				<div class="layui-col-lg-offset3 layui-col-lg6 layui-col-lg-offset2 ct-bg">
					<div class="layui-row">
						<div class="layui-col-lg8">
							<div class="layui-row text-title">
								<div class="layui-col-lg12 people-text">
									填写乘机人个人信息
								</div>
							</div>
							<div class="layui-row" style="padding-left: 18px;">
								<div class="layui-col-lg12">
									请您填写乘机人信息
								</div>
							</div>
							<div class="layui-row text-conter">
								<div class="layui-col-lg12">
									<!-- 第一条 -->
									<div class="layui-row">
										<div class="layui-col-lg12">
											<div class="layui-row">
												<div class="layui-col-lg8 people-message">
													第<span>1</span>位乘客
													<div class="selet-people" style="display:block;">
														选择常用乘机人
													</div>
													<div class="selet-check">
														<ul>
															<li name="n1"><i class="d-icon" name="d1"></i><span class="people-name">小明</span></li>
															<li name="n2"><i class="d-icon" name="d2"></i><span class="people-name">小明</span></li>
														</ul>
													</div>
												</div>
												<div class="layui-col-lg-offset2  layui-col-lg2">
													<div class="save-speople">
														保存常用乘机人
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- 第一条end -->
									<!-- 第二条 -->
									<div class="layui-row">
										<div class="layui-col-lg12">
											<div class="layui-row rq">
												<div class="layui-col-lg4 rw">
													<div class="layui-row">
														<div class="layui-col-lg3" style="position: relative;left: 20px;">
															姓名:
														</div>
														<div class="layui-col-lg9">
															<input type="text" class="text-selet">
														</div>
													</div>
												</div>
												<div class="layui-col-lg-offset2 layui-col-lg4 rw">
													<div class="layui-row">
														<div class="layui-col-lg3" style="position: relative;left: 20px;">
															身份证:
														</div>
														<div class="layui-col-lg9">
															<input type="text" class="text-selet">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- 第二条end -->
								</div>
							</div>
						</div>
						<!-- 右内容 -->

						<div class="layui-col-lg4  right-content" style="">
                            <volist name="ticket" id="ticket">
							<div class="layui-row">
								<div class="layui-col-lg12">
									<div class="layui-row">
										<div class="layui-col-lg1" style="position: relative;top: 12px;">
											<i class="layui-icon layui-icon-home"></i>
										</div>
										<div class="layui-col-lg11 r-text">
											&nbsp;&nbsp;{$ticket.go}
										</div>
									</div>
									<div class="layui-row">
										<div class="layui-col-lg1">
											<i class="i-line"></i>
										</div>
										<div class="layui-col-lg-offset1 layui-col-lg11">
											
										</div>
									</div>
								</div>
							</div>
							<div class="layui-row" style="margin-top: 40px;">
								<div class="layui-col-lg12">
									<div class="layui-row">
										<div class="layui-col-lg1" style="position: relative;top: 10px;">
											<i class="layui-icon layui-icon-location"></i>
										</div>
										<div class="layui-col-lg11 r-text">
											&nbsp;&nbsp;{$ticket.arrive}
										</div>
									</div>
									<div class="layui-row">
										<div class="layui-col-lg-offset1  layui-col-lg11">
											
										</div>
									</div>
								</div>
							</div>
							<div class="layui-row" style="margin-top: 25px;">
								<div class="layui-col-lg12">
									<div class="layui-row">
										<div class="layui-col-lg1">
											<i class="layui-icon layui-icon-console"></i>
										</div>
										<div class="layui-col-lg11" style="position: relative;top: 4px;">
											&nbsp;&nbsp;{$ticket.date} {$ticket.go_time|getHourMin}&nbsp;-&nbsp;{$ticket.arrive_time|getHourMin}
										</div>
									</div>
									<div class="layui-row" style="position: relative;left: 25px;top: 12px;">
										<div class="layui-col-lg12">
											<div class="layui-row">
												<div class="layui-col-lg12" style="font-size: 15px!important;font-weight: bold;">
													行程价格明细
												</div>
											</div>
											<div class="layui-row">
												<div class="layui-col-lg12" style="font-size: 20px!important;font-weight: bold;">
													￥{$ticket.price|interge}
                                                </br>
												    ￥{$ticket.price|childrenPrice} <span style="font-size:14px">(未成年价格)</span>
                                                </div>
											</div>
										</div>
									</div>
								</div>
							</div>
                        </volist>
                        </br>  
                        </br>           
                    <if condition="!empty($back_ticket)">
                        <volist name="back_ticket" id="ticket">
                            <div class="layui-row">
                                <div class="layui-col-lg12">
                                    <div class="layui-row">
                                        <div class="layui-col-lg1" style="position: relative;top: 12px;">
                                            <i class="layui-icon layui-icon-home"></i>
                                        </div>
                                        <div class="layui-col-lg11 r-text">
                                            &nbsp;&nbsp;{$ticket.go}
                                        </div>
                                    </div>
                                    <div class="layui-row">
                                        <div class="layui-col-lg1">
                                            <i class="i-line"></i>
                                        </div>
                                        <div class="layui-col-lg-offset1 layui-col-lg11">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="margin-top: 40px;">
                                <div class="layui-col-lg12">
                                    <div class="layui-row">
                                        <div class="layui-col-lg1" style="position: relative;top: 10px;">
                                            <i class="layui-icon layui-icon-location"></i>
                                        </div>
                                        <div class="layui-col-lg11 r-text">
                                            &nbsp;&nbsp;{$ticket.arrive}
                                        </div>
                                    </div>
                                    <div class="layui-row">
                                        <div class="layui-col-lg-offset1  layui-col-lg11">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row" style="margin-top: 25px;">
                                <div class="layui-col-lg12">
                                    <div class="layui-row">
                                        <div class="layui-col-lg1">
                                            <i class="layui-icon layui-icon-console"></i>
                                        </div>
                                        <div class="layui-col-lg11" style="position: relative;top: 4px;">
                                            &nbsp;&nbsp;{$ticket.date} {$ticket.go_time|getHourMin}&nbsp;-&nbsp;{$ticket.arrive_time|getHourMin}
                                        </div>
                                    </div>
                                    <div class="layui-row" style="position: relative;left: 25px;top: 12px;">
                                        <div class="layui-col-lg12">
                                            <div class="layui-row">
                                                <div class="layui-col-lg12" style="font-size: 15px!important;font-weight: bold;">
                                                    行程价格明细
                                                </div>
                                            </div>
                                            <div class="layui-row">
                                                <div class="layui-col-lg12" style="font-size: 20px!important;font-weight: bold;">
                                                    ￥{$ticket.price|interge}
                                                </br>
                                                    ￥{$ticket.price|childrenPrice}<span style="font-size:14px">(未成年价格)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </volist>
                </if>
						<!-- 右内容end -->
					</div>
				</div>
				<!-- 弹出框 -->
				<form method="post" action="content.html" class="selet-form">
					<div class="save-text">
						<div class="save-name">
							<span style="position: relative;left: 1px;">&nbsp;&nbsp; 姓名:</span>
							<input type="text" class="text-selet  text-name">
						</div>
						<div class="save-id">
							<span>身份证:</span>
							<input type="text" class="text-selet text-id">
						</div>
						<button class="d-btn" type="button">提交</button>
						<button class="d-btn1" type="button">取消</button>
					</div>
				</form>
				<!-- 弹出框end -->
			</div>
			<!-- 内容end -->
			<!-- 尾部 -->
			<div class="layui-row">
				<div class="layui-col-lg12 body-bottom">
					<div class="layui-row">
						<div class="layui-col-lg-offset2 layui-col-lg8  layui-col-lg-offset2" style="position: relative;left: 40px;">
							<div class="layui-row" style="margin-top: 10px;">
								<div class="layui-col-lg12">
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											其他站点
										</div>
										<div class="layui-col-lg3">
											有用链接
										</div>
										<div class="layui-col-lg3">
											联系我们
										</div>
										<div class="layui-col-lg3">
											关注我们
										</div>
									</div>
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											航班通行证
										</div>
										<div class="layui-col-lg3">
											隐私政策
										</div>
										<div class="layui-col-lg3">
											品牌大使
										</div>
										<div class="layui-col-lg3">
											<i class="layui-icon layui-icon-login-wechat"></i>&nbsp;&nbsp;瓦坎达航空公司
										</div>
									</div>
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											BlueBiz
										</div>
										<div class="layui-col-lg3">
											免责声明
										</div>
										<div class="layui-col-lg3">
											预订政策
										</div>
										<div class="layui-col-lg3">
											<i class="layui-icon layui-icon-login-weibo"></i>&nbsp;&nbsp;@kenyaAirways
										</div>
									</div>
									<div class="layui-row bt-1">
										<div class="layui-col-lg3">
											团体预订
										</div>
										<div class="layui-col-lg3">
											昆虫杀灭
										</div>
										<div class="layui-col-lg3">
											肯航管理政策
										</div>
										<div class="layui-col-lg3">
											<i class="layui-icon layui-icon-login-qq"></i>&nbsp;&nbsp;officialkenyaairways
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 尾部end -->
		</div>
		<script src="__HOME__/js/jquery-1.11.1.min.js"></script>
		<script src="__HOME__/js/unslider.min.js"></script>
		<script src="__HOME__/js/layui.js"></script>
		<script src="__HOME__/js/layui.all.js"></script>
		<script src="__HOME__/js/cityTemplate.js"></script>
		<script src="__HOME__/js/body.js"></script>
		<script>
			/*关闭弹出框*/
			$('.save-speople').click(function() {
				$('.selet-form').show();
			});
			$(document).click(function() {
				$('.selet-form').hide();
			});
			$('.selet-form,.save-speople').click(function(event) {
				event.stopPropagation();
			});
			$('.d-btn1').click(function() {
				$('.selet-form').hide();
			});
			/*关闭弹出框end*/
			/*选择乘机人*/
			/*获取名字*/
			$('.d-btn').click(function() {
				var name = $('.text-name').val();
				$('.people-name').html(name);
			});
			/*获取名字end*/
			$('.selet-people').click(function() {
				$('.selet-people').hide();
				$('.selet-check').show();
			});
			$('.d-icon').click(function() {
				var name = $(this).attr("name");
				$('.d-icon.on').removeClass('on');
				$('.d-icon[name="' + name + '"]').addClass('on');
			});
			/*选择乘机人end*/
            $.post("{:U('Contact/selectApi')}",function(data){
                var obj = eval(data);  
                console.log(obj[0]);

            });
		</script>
	</body>
</html>
