<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="__ADMIN__/css/layui.css" media="all">
    <script src="__ADMIN__/jquery/jquery-3.4.1.min.js"></script>
</head>

<body>
    <div class="demoTable">
        搜索用户名：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
        </div>
        <div class="layui-btn" data-type="reload" lay-event="searchUserInfo">搜索</div>
    </div>
    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm " lay-event="addUser">添加</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="mutDelUser">批量删除</button>
        </div>
    </script>
    <!-- <script type="text/html" id="switchTpl">
       
    <input type="checkbox" name="member" value="222222222" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo"
        {{ d.member == 1 ? 'checked' : '' }}>

    </script> -->


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="save">保存</a>
    </script>


    <script src="__ADMIN__/layui.js" charset="utf-8"></script>

    <script>
        layui.use('table', function () {
            var table = layui.table,
                form = layui.form;
            table.render({
                elem: '#test',
                url: "{:U('Users/getusersinfo')}",
                toolbar: '#toolbarDemo',
                cellMinWidth: 80,
                title: '用户数据表',
                limit: 10,
                id: 'allUserInfoTable',
                cols: [
                    [{
                        type: 'checkbox',
                        fixed: 'left'
                    }, {
                        field: 'uid',
                        title: 'ID',
                        fixed: 'left',
                        unresize: true,
                        sort: true,
                    }, {
                        field: 'username',
                        title: '用户名',
                        edit: 'text',
                        sort: true,
                    }, {
                        field: 'password',
                        title: '密码',
                        edit: 'text',
                    }, {
                        field: 'phone_number',
                        title: '手机号码',
                        edit: 'text',
                    }, {
                        field: 'member',
                        title: '会员',
                        unresize: true,
                        templet: function (res) {
                            console.log(res.member)
                            if(res.member == 1){
                                return "是"
                            }else{
                                return "否"
                            }
                        },
                    }, {
                        fixed: 'right',
                        title: '操作',
                        toolbar: '#barDemo',
                    }]
                ],
                page: true
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'addUser':
                        layer.open({
                            type: 2,
                            resize: true,
                            title: '添加用户信息',
                            area: ['350px', '450px'],
                            shade: 0,
                            btn: ['确认提交', '重置', '取消'],
                            content: "{:U('Users/adduser')}",
                            yes: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                var iframeWin = window[layero.find('iframe')[0]['name']];
                                console.log(body.find('#name').val());
                                console.log(body.find('#password').val());
                                console.log(body.find('#phone').val());
                                console.log(body.find('#member').val());
                                $.ajax({
                                    url: "{:U('Users/adduserinfo')}",
                                    type: 'get',
                                    data: {
                                        'username': body.find('#name').val(),
                                        'password': body.find('#password').val(),
                                        'phone_number': body.find('#phone').val(),
                                        'member': body.find('#member').val(),
                                    },
                                    dataType: 'text',
                                    success: function (json) {
                                        layer.closeAll();

                                        var index = layer.load();
                                        table.reload('allUserInfoTable', {
                                            method: 'get',
                                            page: {
                                                curr: 1 //重新从第 1 页开始
                                            },
                                            where: {}
                                        });
                                        layer.close(index);
                                    }
                                });
                            },
                            btn2: function () {},
                            btn3: function () {},
                            zIndex: layer.zIndex,
                            success: function (layero) {
                                layer.setTop(layero);
                            }
                        });
                        break;
                    case 'mutDelUser':
                        var data = checkStatus.data;
                        var list = [];
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            list[i] = data[i].uid;
                        }
                        // let post = JSON.stringify(list);
                        console.log(JSON.stringify(list));
                        $.ajax({
                            url: "{:U('Users/mutdeluser')}",
                            type: 'post',
                            traditional: true,
                            data: {
                                array: JSON.stringify(list)
                            },
                            dataType: 'text',
                            success: function (json) {
                                table.reload('allUserInfoTable', {
                                    method: 'get',
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    },
                                    where: {}
                                });
                            }
                        });
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data,
                value = obj.value;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: "{:U('Users/deluser')}",
                            type: 'post',
                            data: {
                                'uid': data.uid,
                            },
                            dataType: 'text',
                            success: function (json) {
                                layer.closeAll();
                                table.reload('allUserInfoTable', {
                                    method: 'get',
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    },
                                    where: {}
                                });
                            }
                        });
                    });
                } else if (obj.event === 'edit') {
                    layer.open({
                            type: 2,
                            resize: true,
                            title: '添加用户信息',
                            area: ['350px', '450px'],
                            shade: 0,
                            btn: ['确认提交', '重置', '取消'],
                            content: "{:U('Users/updatauser?uid=1')}",
                            yes: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                var iframeWin = window[layero.find('iframe')[0]['name']];
                                body.find('#name').val() = data.username;
                                body.find('#password').val() = data.password;
                                body.find('#phone').val() = data.phone_number;
                                body.find('#member').val() = data.member;
                                console.log(body.find('#name').val());
                                console.log(body.find('#password').val());
                                console.log(body.find('#phone').val());
                                console.log(body.find('#member').val());
                                // $.ajax({
                                //     url: "{:U('Users/adduserinfo')}",
                                //     type: 'get',
                                //     data: {
                                //         'id':data.uid,
                                //         'username': body.find('#name').val(),
                                //         'password': body.find('#password').val(),
                                //         'phone_number': body.find('#phone').val(),
                                //         'member': body.find('#member').val(),
                                //     },
                                //     dataType: 'text',
                                //     success: function (json) {
                                //         layer.closeAll();

                                //         var index = layer.load();
                                //         table.reload('allUserInfoTable', {
                                //             method: 'get',
                                //             page: {
                                //                 curr: 1 //重新从第 1 页开始
                                //             },
                                //             where: {}
                                //         });
                                //         layer.close(index);
                                //     }
                                // });
                            },
                            btn2: function () {},
                            btn3: function () {},
                            zIndex: layer.zIndex,
                            success: function (layero) {
                                layer.setTop(layero);
                            }
                        });
                } else if (obj.event === 'save') {
                    layer.tips(data.member);
                }
            });
            var $ = layui.$,
                active = {
                    reload: function () {
                        var demoReload = $('#demoReload');
                        //执行重载
                        table.reload('allUserInfoTable', {
                            method: 'get',
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                uid: demoReload.val()
                            }
                        });
                    }
                };
            //监听查询
            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            // form.on('switch(sexDemo)', function (obj) {
            //     // layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
            //     if(obj.elem.checked){
            //         this.value = 1;
            //         console.log("选中值为："+this.value);
            //     }else{
            //         this.value = 0;
            //         console.log("未选中为："+this.value);
            //     }
            // });
        });
    </script>

</body>

</html>