body,html{
	margin: 0px;
	padding: 0px;
	font-family: PingFangSC-Regular,microsoft yahei,STHeiTi,simsun,arial,sans-serif;
}
.layui-fluid{
	   color: #333;
       font-family: PingFangSC-Regular,microsoft yahei,STHeiTi,simsun,arial,sans-serif;
       font-size: 14px;
		background:url(../img/bg-booking.jpg) center top no-repeat #f7f7f7;
		  background-attachment: fixed;
		background-size: cover;
}
.layui-fluid,.rt{
	  padding: 0!important;
	  margin: 0;
  }
.bt{
	  line-height: 3.6875rem;
 }
 /*面板*/
 .tab-b1{
 	width: 88%;
 	height:auto;
 	background-color: #FFFFFF;
 	position: relative;
 	top: 100px;
 	right: 0px;
	padding-left:64px;
 	padding-top: 40px;
 	padding-bottom: 40px;
	margin-left: 70px;
	margin-top: 40px;
	box-shadow: 0 3px 16px 0 rgba(0,0,0,0.18);

 }
 .tab-b1 .go-city,.end-city,.go-time,.end-time,.d-selet{
 	display: inline-block;
 	height: 50px;
 	line-height: 50px;
 	border: 1px solid #e3e5e5;
 	padding: 0px 18px;
 }
 .tab-b1 .go-city,.tab-b1 .go-time{
 	margin-left: 2.5rem;
 }
 .tab-b1 .end-city{
 	margin-left: 3.5rem;
 }
 .go-city .gc-left,.end-city .end-left,.go-time .time-left,.end-time .time-left{
 	display: inline-block;
 }
 .go-city input,.end-city  input,.go-time input,.end-time input,.d-selet input{
 	display: inline-block;
 	outline: none;
 	border: none;
 	font-size: 0.9rem;
 	position: relative;
 	bottom: 1px;
 }
 .shift{
 	width: 32px;
     height: 21px;
     background: url(../img/trip-sprite.png) no-repeat;
     background-position: 4px -135px;
     cursor: pointer;
 	position: absolute;
 	top: 54px;
 	left: 373.3px;
 }
 /*单选按钮*/
 .d-radio{   
 	display: inline-block;
 	font-size:0.9rem ;
 }
 .d-radio span{
 	position: relative;
 	bottom: 4px;
 }
 .d-radio .d-icon.on{
 	background: url(../img/radio-on.png) left center no-repeat;
 }
 .d-radio .d-icon {
 	display: inline-block;
     width: 16px;
     height: 16px;
     margin: -8px 0 0 0;
     background: url(../img/radio-off.png) left center no-repeat;
 	margin-left: 20px;
 	cursor: pointer;
 	}
 /*单选按钮end*/
 /*按钮*/
 .d-btn,.d-btn1{
 	display: inline-block;
 	font-size: 14px;
     width: 221px;
     height: 40px;
     line-height: 40px;
 	background-color: #cb0303;
     -webkit-border-radius: 20px 0;
     -moz-border-radius: 20px 0;
     border-radius: 20px 0;
     font-size: 16px;
     color: #fff;
     border: none;
     cursor: pointer;
     outline: none;
 }
 .d-btn{
 	margin-left: 40px;
 	top: 140px;
 }
 .d-btn1{
 	position: relative;
 	left: 800px;
 	top: 20px;
 }
 /*按钮end*/
 /*时间*/
 .go-time{
      margin-top: 1.125rem;
 }
 .end-time{
 	margin-left: 3.5rem;
 }
 /*时间end*/
 /*选择框*/
 .d-selet{
 	margin-left: 2rem;
 	position: relative;
 	transition: all 1s;
 }
 .d-selet .d-icon{
 	background: url(../img/sprite-icon.png) no-repeat #fff;
 	height: 38px;
     background-position: -73px -247px;
 	width: 46px;
 	position: absolute;
     right: 0;
     top: 0.53rem;
     cursor: pointer;
 }
 /*选择框end*/
 /*城市选择框*/
 #in_city{
 	width: 700px!important;
 	position: absolute;
 	top: 90px!important;
 	left: 40px!important;
 	right: 0;
 	bottom: 0;
 	height: auto;
 	padding-top: 10px;
 }
 .city_pos{
 	background-color: #FFFFFF;
 }
 
 .Letter span{
 	color: #C92436;
 	font-weight: bold;
 	font-size: 0.9rem;
 } 
 /*城市选择框end*/
 /*日期选择*/
 .layui-laydate-header,.layui-laydate-content,.layui-laydate-content table,.layui-laydate-footter{
 	width: 37.5rem!important;
 }
 .layui-laydate-content table {
 	line-height: 40px!important;
 }
 .layui-laydate{
    position: absolute!important;
 	width:620px;
 	top:38%!important;
 	left: 25.8%!important;
 }
 /*日期选择end*/
 /*人数选择*/
 .selet{
 	display: none;
 	width:274px;
 	height: 80px;
 	background: #FFFFFF;
 	position: absolute;
 	left:33.5px;
 	top:50.6px;
     padding-top: 15px;
     margin-top: 0px;
     padding-bottom: 15px;
     margin-bottom: 0px;
 	border-top: 4px solid #f7f7f7;
 	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
 }
 .selet li{
 	height: 40px;
 	line-height: 40px;
 	text-align: left;
 	padding-left: 30px;
 }
 .selet li:hover{
 	background-color:#cdcdcd;
 	color: #1b8fa0;
 }
 .selet button{
 	width: 22px;
     height: 22px;
     background: #fff;
     border: 1px solid #d1d1d1;
     cursor: pointer;
     vertical-align: middle;
     display: inline-block;
     line-height: 22px;
 	margin-right: 5px;
 	line-height: 22px;
 }
 .selet button span{
 	line-height: 20px;
 	font-size: 1.2rem;
 }
 .selet input{
 	 display: inline-block;
     width: 30px;
     border: 1px solid #ccc;
     text-indent: 0;
     height: 20px;
     line-height: 20px;
     text-align: center;
     vertical-align: middle;
 	outline: none;
     font-size: 1em;
 	line-height: 20px;
 }
 /*人数选择end*/
 /*隐藏出发时间、达到时间、人数选择*/
 .nt,.end-time.on.nt{
 	display: none;
 }
 .nt.on{
 	display: block;
 }
 /*隐藏出发时间、达到时间、人数选择end*/
 /*面板end*/
 /*航班标题*/
 .fly-title{
	 font-size: 1.3rem;
	 margin-left: 68px;
	 margin-top: 20px;
 }
 .fly-title .s-font{
	 color: #CB0303;
	 font-size: 1.5rem;
 }
 .fly-title  .s2,.fly-title .s4{
 	display: none;
 }
 /*航班标题end*/
 /*航班内容*/
 .col,.col1{
	  box-shadow: 0 3px 16px 0 rgba(0,0,0,0.18);
	  background-color: #FFFFFF;
	  width:95%;
	  margin-left: 70px;
	  margin-top: 40px;
 }
 .fly-conter{
	 width:100%;
	 padding-left:64px;
	 padding-top: 40px;
	 padding-bottom: 40px;
 }
 .fly-conter .to-line {
    position: relative;
    background: #e4e4e6;
    height: 2px;
	width:100px;
	margin: 28px auto;
	}
.fly-conter .to-line .fly-icon{
	position: absolute;
	 top: -7px;
	left: 50%;
	margin-left: -12px;
	color: #ccc;
	padding: 0 5px;
	background-color: #fff;
}
.fly-conter .fly-time{
	font-size: 1.6rem;
}
.fly-conter .arrive-time{
	position: relative;
	top: 8px;
	left: 4px;
	font-size: 12px;
}
.fil-plane,.img{
	font-size: 1rem;
	position: relative;
}
.fil-plane{
	left: 120px;
	top: 18px;
}
.img{
	left: 120px;
	top: 15px;
}
.fly-money{
	 font-size: 20px;
    font-weight: normal;
}
.business{
	font-size: 16px;text-align: center;position: relative;top: -40px;
}
.fly-class{
	position: relative;
	top: 6px;
}
.rw{
	width: 100%;
	margin-left: 0px;
}
.fly-type,.fly-type1,.fly-type2{
	text-align: center;
	font-size: 14px;
}
.row{
	position: relative;
	top: 45px;
	height: 142px;
}
.fly-type{
	border-top: 4px solid #c96;
}
.fly-type1{
	border-top: 4px solid #900;
}
.fly-type2{
	border-top: 4px solid #EB7350;
}
.fly-class{
	position: relative;
	top: 4px;
}
.plane-lg,.plane-lg1,.plane-lg2,.plane-lg3{
	height: auto;
	cursor: pointer;
}
.plane-lg.active,.plane-lg1.active,.plane-lg2.active,.plane-lg3.active{
	background-color: #fafafa;
    box-shadow: 0 0 18px 0 rgba(0,0,0,0.11);
	color: #666;
}
.fly-img,.fly-img1,.fly-img2{
	position: relative;
	top:18px;
	display: none;
    width: 100%;
    height: 18px;
    opacity: 1;
    transition: all .3s linear;
}
.fly-img.active,.fly-img1.active,.fly-img2.active{
	display: block;
}
/*判断单返程*/
.arrive-close{
	display: none;
}
.arrive-close.active{
	display: block;
}
/*判断单返程end*/
.fly-play{
	margin-top: 40px;
	position: relative;
	left: 172px;
	display: none;
}
/*日期*/
 
/*日期end*/
 /*航班内容end*/