<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="__ADMIN__/css/layui.css" media="all">
    <script src="__ADMIN__/jquery/jquery-3.4.1.min.js"></script>
    <style>

    </style>
</head>

<body >

    <table class="layui-hide" id="companyticket" lay-filter="test"></table>

    <script src="__ADMIN__/layui.js" charset="utf-8"></script>

    <script>
        layui.use('table', function () {
            var table = layui.table,
                form = layui.form;
                console.log('{$list}');
            table.render({
                elem: '#companyticket',
                id: 'comticket',
                url: '{:U("Company/getCompanyTicketInfo")}?cid='+'{$list}',
                title: '航空机票表',
                page: true,
                cols: [
                    [ //表头
                        {
                            field: 'tid',
                            title: 'ID',
                            width: '10%',
                            fixed: 'left',
                            totalRowText: '合计：'
                        }, {
                            field: 'flight_number',
                            title: '航班号',
                            width: '10%'
                        }, {
                            field: 'go',
                            title: '出发地',
                            totalRow: true,
                            width: '10%'
                        }, {
                            field: 'arrive',
                            title: '目的地',
                            width: '10%'
                        }, {
                            field: 'date',
                            title: '日期',
                            totalRow: true,
                            width: '10%'
                        }, {
                            field: 'cheap_price',
                            title: '经济座单价',
                            width: '10%'
                        }, {
                            field: 'expensive_price',
                            title: '商务座单价',
                            width: '10%'
                        }, {
                            field: 'sprplus',
                            title: '余票',
                            width: 90,
                            width: '8%'
                        }, {
                            field: 'go_time',
                            title: '出发时间',
                            totalRow: true,
                            width: '10%'
                        }, {
                            field: 'arrive_time',
                            title: '到达时间',
                            totalRow: true,
                            width: '10%'
                        }
                    ]
                ]
            });
        });
    </script>

</body>

</html>